<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= @task.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="field">
        <%= form.label :タスク名 %>
        <%= form.text_field :list %>
      </div>
      <div class="field">
        <%= form.label :タスク詳細 %>
        <%= form.text_field :detail %>
      </div>
      <div class="field">
        <%= form.label :終了期限 %>
        <%= form.datetime_select :expired_at %>
      </div>
      <div class="field">
        <%= form.label :ステータス %>
        <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
    　</div>
      <div class="field">
        <%= form.label :優先順位 %>
        <%= form.select :priority, [["低", "低"], ["中", "中"], ["高", "高"]], include_blank: "選択して下さい" %>
      </div>
  
      <%= form.submit "登録" %>
  <% end %>