<h1>タスク一覧</h1>

<table>
  <%= form_with(url:tasks_path, method: :get,local: true)do |form| %>
  <tr>
    <th><%= form.label :タスク名 %></th>
    <td><%= form.text_field :list %></td>
    <th><%= form.label :ステータス %></th>
    <td><%= form.select :status, Task.statuses.keys, {include_blank: true} %></td>
    <td><%= form.submit '検索', class: "btn btn-primary" %></td>
  </tr>
  <% end %>
</table>

<%= link_to "終了期限で並び替え", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位が高い順で並び替え", tasks_path(sort_priority: "true") %>

<table>
  <tr>
    <th>作成者</th>
    <th>タスク名</th>
    <th>タスク詳細</th>
    <th>作成日</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr class = 'task_row'>
      <td><%= task.user.name %></td>
      <td><%= task.list %></td>
      <td><%= task.detail %></td>
      <td><%= l task.created_at %></td>
      <td><%= l task.expired_at %></td>
      <td><%= task.status %></td>
      <td class = 'task_priority'><%= task.priority %></td>
      <td><%= link_to '詳細', task_path(task.id) %></td>
      <td><%= link_to '編集', edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "タスクを登録する", new_task_path %></p>
<p><%= link_to "一覧画面へ戻る", tasks_path %></p>

<%= paginate @tasks %>